# 평점 8이상 한국어 영화 찾기

### 1. movies_metadata.csv를 dataframe으로 읽어와서 평점 8이상, 언어가 한국어인 영화만 모아놓은 "runtime", "title", "vote_average" 로만 구성된 dataframe을 만드세요

##### 사용 라이브러리 : dataframe

In [1]:
import pandas as pd

In [2]:
movie_list = pd.read_csv("movies_metadata.csv")

C:\Users\pc\AppData\Local\Temp\ipykernel_16440\778035323.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_list = pd.read_csv("movies_metadata.csv")

In [3]:
movie_list.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [4]:
movie_list.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
movie_list.keys()

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
result = movie_list[(movie_list['vote_average'] >= 8.0)&(movie_list['original_language'] == "ko")]

In [7]:
result.drop(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'overview',"original_title",
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue',
       'spoken_languages', 'status', 'tagline', 'video',
        'vote_count'], axis=1, inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_16440\857930440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.drop(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',

In [8]:
result = result.iloc[:, [1,2,0]]
result

                               title  vote_average  runtime
9430                          Oldboy           8.0    120.0
15549  The Power of Kangwon Province           8.2    110.0
16632                 Tale of Cinema           8.4     89.0
16694           Castaway on the Moon           8.1    119.0
20305                          Sunny           8.0    124.0
21739          Miracle in Cell No. 7           8.0    127.0
32934                       Silenced           8.0    125.0
32946              The Beauty Inside           8.1    127.0
38249                   Motel Cactus           8.0     91.0
38420     SORI: Voice from the Heart           8.0    117.0
38718                 The Handmaiden           8.1    145.0
40035                   Remember You           8.5    106.0
40062            Spirits' Homecoming           8.5    127.0
41113             The Surrogate Womb           8.3     95.0
41230                  Under the Sun           8.1    106.0
41907                       Top Star           8.0    107.0
42393                           Hope           8.1    123.0
43505            My Annoying Brother           8.4    110.0